{% extends 'home/base.html' %}

{% block title_pagina %}
<title>Nosotros</title>
{% endblock title_pagina %}


{% block  mi_contenido %} 
<h1>
    Nicolas Ernesto Martin
</h1>
<h5> 
    <p>Soy Nicolas Ernesto Martin Licenciado en Administración de Empresas. </p>
    <p>Me desempeño como COO en una empresa de transporte público de pasajeros en la provincia de San Juan-Argentina. </p>
    <p>Me considero una persona responsable, activa y organizada. Me comprometo de manera constante con mi crecimiento profesional y personal buscando ampliar mis conocimientos y habilidades.</p>
    <p>Tengo facilidad de adaptación, buena comunicación y gran interés por el trabajo en equipo. </p>
    <p>Me interesa el mundo IT y es por eso que estoy capacitándome en el mismo. </p>
    <p>Actualmente me encuentro capacitado como UX Designer y Product Manager. </p>
    <p>Además, formo parte de la segunda etapa del curso Argentina Programa para convertirme en un programador web full-stack. </p>
    <p>Asimismo, tambien estoy finalizando el curso de Python brindado por CoderHouse.</p>
</h5>
<h1>
    Martin Orgeira
</h1>
<h5> 
    <p>Soy Martin Facundo Orgeira estudiante de arquitectura. </p>
    <p>En este momento estoy trabajando de cadete pero me intersa mucho la programacion. </p>
    <p>Tengo conocimientos en los lenguajes c#, java y basico HTML y python.</p>
    <p>Tambien se de unity y Unreal Engine</p>
</h5>
{% endblock mi_contenido %}

    